# Goal

Go through the data and figure out what each column means. Also to look for better ways to aggregate tracts in the food desert data.

In [122]:
import numpy as np
import pandas as pd

In [123]:
food_lookup = pd.read_csv('../data/food_access_variable_lookup.csv')

In [124]:
food_data = pd.read_csv('../data/Food_deserts_in_the_US.csv')

In [125]:
edu_data = pd.read_csv('../data/seda_county_pool_gcs_v30.csv')

In [126]:
education_df = edu_data[edu_data['subgroup'] == 'all'].reset_index()

In [127]:
other_colns  = ['CensusTract',
                'State',
                'County',
                'MedianFamilyIncome'] 

bool_columns = ['Urban',
                'GroupQuartersFlag',
                'LILATracts_1And10',
                'LILATracts_halfAnd10',
                'LILATracts_1And20',
                'LILATracts_Vehicle',
                'HUNVFlag',
                'LowIncomeTracts',
                'LA1and10',
                'LAhalfand10',
                'LA1and20',
                'LATracts_half',
                'LATracts1',
                'LATracts10',
                'LATracts20',
                'LATractsVehicle_20']

tot_columns  = ['POP2010',
                'OHU2010',
                'NUMGQTRS',
                'LAPOP1_10',
                'LAPOP05_10',
                'LAPOP1_20',
                'LALOWI1_10',
                'LALOWI05_10',
                'LALOWI1_20',
                'lapophalf',
                'lalowihalf',
                'lakidshalf',
                'laseniorshalf',
                'lawhitehalf',
                'lablackhalf',
                'laasianhalf',
                'lanhopihalf',
                'laaianhalf',
                'laomultirhalf',
                'lahisphalf',
                'lahunvhalf',
                'lasnaphalf',
                'lapop1',
                'lalowi1',
                'lakids1',
                'laseniors1',
                'lawhite1',
                'lablack1',
                'laasian1',
                'lanhopi1',
                'laaian1',
                'laomultir1',
                'lahisp1',
                'lahunv1',
                'lasnap1',
                'lapop10',
                'lalowi10',
                'lakids10',
                'laseniors10',
                'lawhite10',
                'lablack10',
                'laasian10',
                'lanhopi10',
                'laaian10',
                'laomultir10',
                'lahisp10',
                'lahunv10',
                'lasnap10',
                'lapop20',
                'lalowi20',
                'lakids20',
                'laseniors20',
                'lawhite20',
                'lablack20',
                'laasian20',
                'lanhopi20',
                'laaian20',
                'laomultir20',
                'lahisp20',
                'lahunv20',
                'lasnap20',
                'TractLOWI',
                'TractKids',
                'TractSeniors',
                'TractWhite',
                'TractBlack',
                'TractAsian',
                'TractNHOPI',
                'TractAIAN',
                'TractOMultir',
                'TractHispanic',
                'TractHUNV',
                'TractSNAP',]

pct_columns  = ['PCTGQTRS',
                'PovertyRate',
                'lapophalfshare',
                'lalowihalfshare',
                'lakidshalfshare',
                'laseniorshalfshare',
                'lawhitehalfshare',
                'lablackhalfshare',
                'laasianhalfshare',
                'lanhopihalfshare',
                'laaianhalfshare',
                'laomultirhalfshare',
                'lahisphalfshare',
                'lahunvhalfshare',
                'lasnaphalfshare',
                'lapop1share',
                'lalowi1share',
                'lakids1share',
                'laseniors1share',
                'lawhite1share',
                'lablack1share',
                'laasian1share',
                'lanhopi1share',
                'laaian1share',
                'laomultir1share',
                'lahisp1share',
                'lahunv1share',
                'lasnap1share',
                'lapop10share',
                'lalowi10share',
                'lakids10share',
                'laseniors10share',
                'lawhite10share',
                'lablack10share',
                'laasian10share',
                'lanhopi10share',
                'laaian10share',
                'laomultir10share',
                'lahisp10share',
                'lahunv10share',
                'lasnap10share',
                'lapop20share',
                'lalowi20share',
                'lakids20share',
                'laseniors20share',
                'lawhite20share',
                'lablack20share',
                'laasian20share',
                'lanhopi20share',
                'laaian20share',
                'laomultir20share',
                'lahisp20share',
                'lahunv20share',
                'lasnap20share']

In [128]:
# aggregations

In [129]:
pct_df = food_data[['State', 'County', 'POP2010'] + pct_columns]
bool_df = food_data[['State', 'County', 'POP2010'] + bool_columns]

In [130]:
def find_pop_pct(df):
    tot_pop = df['POP2010'].sum()
    pop_pct = df['POP2010'] / tot_pop
    
    return pop_pct

def agg_pct(df):
    #print (df.columns)
    pp_df = find_pop_pct(df)
    return df[pct_columns].mul(pp_df, 0).sum()
    
def agg_bool(df):
    pp_df = find_pop_pct(df)
    return df[bool_columns].mul(pp_df, 0).sum()

def agg_income(df):
    pp_df = find_pop_pct(df)
    return df[['MedianFamilyIncome']].mul(pp_df, 0).sum()

In [131]:
total_agg = food_data[['State', 'County'] + tot_columns].groupby(['State', 'County']).sum().reset_index()
pct_agg = pct_df.groupby(['State', 'County']).apply(lambda x: agg_pct(x)).reset_index()
bool_agg = bool_df.groupby(['State', 'County']).apply(lambda x: agg_bool(x)).reset_index()
income_agg = food_data[['State', 'County', 'POP2010', 'MedianFamilyIncome']].groupby(['State', 'County']).apply(lambda x: agg_income(x)).reset_index()

In [132]:
income_agg

        State      County  MedianFamilyIncome
0     Alabama     Autauga        64137.953858
1     Alabama     Baldwin        62404.364294
2     Alabama     Barbour        43916.972138
3     Alabama        Bibb        42271.685097
4     Alabama      Blount        53069.871899
...       ...         ...                 ...
3136  Wyoming  Sweetwater        80227.475597
3137  Wyoming       Teton        89150.636423
3138  Wyoming       Uinta        65319.395161
3139  Wyoming    Washakie        62597.287238
3140  Wyoming      Weston        74728.718646

[3141 rows x 3 columns]

In [133]:
food_df = total_agg.join(income_agg.drop(['State', 'County'], axis=1)).join(pct_agg.drop(['State', 'County'], axis=1)).join(bool_agg.drop(['State', 'County'], axis=1))

In [134]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [135]:
food_df['stateabb'] = food_df.apply(lambda row: us_state_abbrev[row['State']], axis=1)

In [136]:
def remove_county(row):
    return row['countyname'].replace(" County", "").replace(" Parish", "")

education_df['County'] = education_df.apply(remove_county, axis=1)

In [137]:
education_df.columns = ["Educ_" + x for x in education_df.columns]

education_df['County'] = education_df['Educ_County']
education_df['stateabb'] = education_df['Educ_stateabb']

In [138]:
food_df.columns = ["Food_" + x for x in food_df.columns]

food_df['County'] = food_df['Food_County']
food_df['stateabb'] = food_df['Food_stateabb']

In [139]:
combined_df = pd.merge(education_df, food_df, on=["County", "stateabb"])

In [140]:
combined_df.drop(["Educ_subgroup", "Food_State", "Food_County", "Food_stateabb", "Educ_stateabb", "Educ_County", "Educ_countyname"], axis=1, inplace=True)

In [141]:
combined_df.rename({"stateabb" : "State"}, axis=1, inplace=True)

In [142]:
combined_df.to_csv("../data/new_combined_data.csv")