## Introduction

From the dataset [Food Deserts in the USA](https://www.kaggle.com/tcrammond/food-access-and-food-deserts?select=food_access_research_atlas.csv) dataset on Kaggles: "the USDA defines living in a food desert as:

living more than one mile from a supermarket in urban/suburban areas, and more than 10 miles from a supermarket in rural areas"

In [3]:
import pandas as pd

In [5]:
combined_df = pd.read_csv("../data/combined_data.csv")
combined_df

,Educ_countyid,Educ_fips,Educ_gap_est,Educ_tot_asmts,Educ_cellcount,Educ_mn_asmts,Educ_mn_avg_ol,Educ_mn_grd_ol,Educ_mn_coh_ol,Educ_mn_mth_ol,...,Food_TractBlack,Food_TractAsian,Food_TractNHOPI,Food_TractAIAN,Food_TractOMultir,Food_TractHispanic,Food_TractHUNV,Food_TractSNAP,County,State
0,1001,1.0,0.0,72864.0,96.0,759.000000,5.636815,1.048619,-0.092830,-0.435624,...,803.583333,39.500000,2.666667,19.333333,111.250000,109.166667,90.083333,223.500000,Autauga,AL
1,1003,1.0,0.0,213214.0,96.0,2220.979167,5.428993,0.832481,-0.051916,-0.611446,...,551.774194,43.483871,2.870968,39.225806,204.967742,257.806452,72.322581,208.741935,Baldwin,AL
2,1005,1.0,0.0,26521.0,96.0,276.260417,3.692509,0.956793,0.129474,-0.743482,...,1430.555556,11.888889,3.222222,12.666667,128.000000,154.111111,89.111111,233.000000,Barbour,AL
3,1007,1.0,0.0,25678.0,96.0,267.479167,4.235791,0.996612,0.021188,-0.888118,...,1261.750000,5.500000,3.250000,16.000000,97.000000,101.500000,74.750000,281.250000,Bibb,AL
4,1009,1.0,0.0,71940.0,96.0,749.375000,4.689641,0.866955,0.091370,-1.011810,...,84.555556,13.000000,4.222222,34.111111,336.777778,514.000000,91.444444,322.222222,Blount,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3052,56037,56.0,0.0,33703.0,54.0,624.129630,5.529081,1.075794,0.132322,-0.057635,...,36.500000,28.000000,3.500000,35.250000,318.250000,557.416667,52.333333,69.583333,Sweetwater,WY
3053,56039,56.0,0.0,10605.0,54.0,196.388889,6.700046,1.146559,0.021997,-0.172702,...,12.250000,58.750000,3.750000,27.750000,515.750000,797.750000,35.750000,32.000000,Teton,WY
3054,56041,56.0,0.0,18001.0,54.0,333.351852,6.086742,1.059938,0.037275,0.132833,...,18.333333,20.333333,12.000000,56.000000,428.000000,618.333333,88.000000,207.000000,Uinta,WY
3055,56043,56.0,0.0,6159.0,54.0,114.055556,6.508509,1.023191,-0.007281,0.398879,...,7.333333,16.000000,0.333333,31.000000,191.333333,387.333333,84.000000,112.333333,Washakie,WY
3056,56045,56.0,0.0,4462.0,55.0,81.127273,5.917276,0.943572,0.090711,0.004829,...,10.500000,10.000000,1.500000,45.500000,94.000000,108.000000,101.500000,109.000000,Weston,WY

In [6]:
food_doc = pd.read_csv("../data/food_access_variable_lookup.csv")

In [8]:

food_doc.loc[df['column_name'] == some_value]

,Field,LongName,Description
0,CensusTract,Census tract,Census tract number
1,State,State,State name
2,County,County,County name
3,Urban,Urban tract,Flag for urban tract
4,POP2010,"Population, tract total",Population count from 2010 census
...,...,...,...
142,TractAIAN,Tract American Indian and Alaska Native popula...,Total count of American Indian and Alaska Nati...
143,TractOMultir,"Tract Other/Multiple race population, number",Total count of Other/Multiple race population ...
144,TractHispanic,"Tract Hispanic or Latino population, number",Total count of Hispanic or Latino population i...
145,TractHUNV,"Tract housing units without a vehicle, number",Total count of housing units without a vehicle...
146,TractSNAP,"Tract housing units receiving SNAP benefits, n...",Total count of housing units receiving SNAP be...